---
title: About this page for you
layout: base.njk
---

<div class="container">
  <h1>Le jamstack pour débutant</h1>
  <p>site ultra minimaliste en jamstack créé en suivant ce très bon tutoriel de Phil Hawksworth. Utilisant js,<a href="https://www.11ty.dev/">eleventy</a> et <a href="https://www.netlify.com/">netlify</a></p>
  <p>Les deux api utilisées dans ce projet sont <a href="https://newsapi.org">newsapi</a> pour les articles de sports et <a href="https://api.openweathermap.org">openweather</a> pour obtenir la météo suivant sa localisation.</p>
  <iframe width="772" height="434" src="https://www.youtube.com/embed/A_l0qrPUJds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


{% for item in news %}
  <a href="/{{ item.country}}">{{ item.country }}</a>
{%  endfor %}



