---
title: A page for you
layout: base.njk
---

<div class="container">
    <h1>This is my page</h1>
    <div class="vibe">you are great !</div>
    <div class="love">lot of love</div>
</div>
<script src="/js/vibe.js"></script>