---
title: Daily sport
layout: base.njk
pagination:
    data: news
    size: 1
    alias: news
permalink: /{{ news.country }}/index.html
---

<div class="container">
    <h1>This is my page</h1>
    <div class="vibe">you are great !</div>
    <div class="love">lot of love</div>

{% for article in news.articles %}
<ul>
    <li>
        <h2>
            <a href="{{ article.url }}">{{ article.title }}</a>
        </h2>
        <span>{{ article.source.name }} - <time>{{ article.publishedAt}}</time></span>
    </li>
</ul>
{% endfor %}

</div>


<script src="/js/vibe.js"></script>